.bug{
    background-color:rgb(247, 174, 84);
    box-shadow: 2px 2px 2px rgb(232, 145, 145);
    text-align: center;
    margin:15px;
    min-width: 275px;
    min-height: 200px;
}

.bug:hover{
    transition: all 0.5s;
    transform: scale(1.5);
}

