html{
    margin-left:20%;
    color:aquamarine;
    margin-top:10px;
}

button{
    background-color:rgb(80, 80, 245);
    border-radius: 5px;
    padding: 5px 20px; 
    color:antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

button:hover{
    background-color:rgb(255, 255, 255);
}