html{
    margin-left:20%;
    color:aquamarine;
    margin-top:10px;
}

button{
    background-color:rgb(80, 80, 245);
    border-radius: 5px;
    padding: 5px 20px; 
    color:black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10px;
}

button:hover{
    background-color:rgb(255, 255, 255);
}

.pag{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}