.loginBG{
    width: 550px;
    height: 550px;
    border-radius: 10px;
    margin-left:-20px;
    margin-top: 26px;
    background-color: rgb(60, 196, 238);
    background-attachment: fixed;
    background-size: cover;
    position:absolute;
}

.log{
   
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.log h1{
    width: 100%;
    color: black;
}

.loginBG input{
    width: 70%;
    height: 30px;
    border:none;
    margin:10px;
    padding-left: 5px;
}