.pagBug{
    height: 600px;
    width: 300px; 
    position:fixed;
    background-color: rgb(231, 139, 139);
    padding-top: 20px;
    left: 0px;
    bottom: 10px; 
    top: 10px;
    text-align: center;
}

.pagBug li{
    padding: 15px;
    font-size: 24px;
    border-bottom: 2px groove;
}

.pagBug ul{
    list-style: none;
    color: #fff;
    padding: 0px;
}

.pagBug link{
    text-decoration: none;
    color:antiquewhite;
}

.pagBug li:hover{
    transition: all 0.3s;
    background-color: #fff;
}

.pagBug .logout{
    position:absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    font-size: 20px;
}